{{- $isWorkComputer := promptBoolOnce . "isWorkComputer" "Is this your work computer" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}
encryption = "age"

[age]
    identity = "~/.config/chezmoi/age.key"
    recipients = ["age135mggelrxtwdkdnnrrlkh355y85afrt4a73fj70tpah5kh93uasqzpp04n", "age1dyyc87uvtjntf4s45t5x8n8e8t238263hnw4rhcvc585z3sp2u2q30mdyd"]

[data]
    isWorkComputer = {{ $isWorkComputer }}
    hasAgeIdentity = false
    email = {{ $email | quote }}
