eval "$(starship init zsh)"
eval "$(zoxide init zsh)"
eval "$(mise activate zsh)"

# completion; use cache if updated within 24h
autoload -Uz compinit
if [[ -n $HOME/.zcompdump(#qN.mh+24) ]]; then
  compinit -d $HOME/.zcompdump;
else
  compinit -C;
fi;

# history
setopt hist_ignore_all_dups inc_append_history
HISTFILE=~/.zhistory
HISTSIZE=1000000
SAVEHIST=1000000

# keybindings
bindkey -v
bindkey "^F" vi-cmd-mode
bindkey "^A" beginning-of-line
bindkey "^E" end-of-line
bindkey "^R" history-incremental-search-backward

export PATH="$HOME/.local/bin:$PATH"

export EDITOR="code --wait"

{{ if .isWorkComputer -}}
export AWS_PROFILE=curate-nonprod
export AWS_DEFAULT_REGION=us-east-1
{{ end -}}
