{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-upgrade --file=/dev/stdin <<EOF
{{ range .packages.darwin.taps -}}
tap {{ . | quote | replace " " "\", \"" }}
{{ end -}}
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ end -}}

{{ if .isWorkComputer -}}
brew bundle --no-upgrade --file=/dev/stdin <<EOF
{{ range .packages.work.taps -}}
tap {{ . | quote | replace " " "\", \"" }}
{{ end -}}
{{ range .packages.work.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.work.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ end -}}
